html, body {
	height : 100%;
	margin: 0;
    padding: 0;
}

#wrap {
	min-height: 100%;
    position: relative;
	
}

.frm-title {
	font-size: xx-large;
	padding-top: 10px;
    padding-bottom: 10px;
}

.frm-button {
/* 	padding-top: 30px; */
    padding-bottom: 20px;
    float: right;
}

.board-header {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: xx-large;
    overflow: hidden;
    background-color: #343a40;
    padding: 10px 10px;
/* 	position: fixed; */
	width: 100%;
}

.board-logo{
	width: 25px;
	filter: invert(1);
}

.board-footer{
	width: 100%;
	height: 10rem;
/* 	position: relative; */
    bottom: 0px;
    position: absolute;  
    left: 0;
}

.body-title {
	justify-content: flex-start;
}

.body-container {
	padding: 5rem;
	font-family: 'Noto Sans KR', sans-serif;
	padding-bottom: 15rem;
}

.body-content {
	max-width:7rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-bottom: 10rem;
	margin-top: 100px;
}

.body-tr:hover {
	background-color: #eeeeee;
	
}

.footer-text {
	float: right;
	color: #ffffff55;
	padding: 1rem;
}


.home-header {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.7rem;
    overflow: hidden;
    background-color: #343a40;
    padding: 50px 20px;
    font-weight: bold;
    color: white;
}

.home-content {
	padding: 30px 10px;
}

.home-title {
	justify-content: flex-start;
}

.home-logo{
	width: 40px;
	filter: invert(1);
}

.body-pre {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 100%;
}

a{
	color: #007bff;
    text-decoration: none;
    background-color: transparent;
    vertical-align: middle;
   
}

 .pageInfo{
    list-style : none;
    display: table;
    margin: auto;    
    padding: 7px 0px;
 }
 
 .pageInfo li{
    float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
 }
 
 a:link {
 	color:#007bff; 
 	text-decoration: none;
 }
 
 a:visited {
	 color:#007bff; 
	 text-decoration: none;
 }
 
 a:hover {
 	color:black; 
 	text-decoration: blink;
 }
 
 .active {
 	color: #343a40 !important;
    //font-weight: bold;
    pointer-events: none;
 }
 
 .table {
 	margin-bottom: 2rem;
 
 }